@import '../../scss/commonStyles.scss';

.Home{
  @extend %mainStyle;
  .homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  .progressBar{
    width: 400px;
    margin-top: 50px;
  }
}