@import '../../scss/constants.scss';

.searcherContainer{
  display: flex;
  .searchIcon{
    color: $orange;
    font-size: 24px;
  }
  .searchInput{
    text-decoration: none;
    position: absolute;
    border: none;
    margin-left: 24px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.1s;
  }
  .showSearcher{
    width: 200px;
  }
  .hideSearcher{
    width: 0px;
  }
}