@import '../../scss/commonStyles.scss';

.recipe{
  @extend %mainStyle;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .errorMessage{
    text-align: center
  }
}